@model PagedList.IPagedList<control_portal_empleos_v2.Models.personas>
@using PagedList.Mvc;
@using PagedList;

<div class="well">
    @foreach (var item in Model)
    {

        <div class="well well-lg clearfix">

            <div class="btn-group btn-group-lg pull-right">
                <a class="btn btn-primary dropdown-toggle " data-toggle="dropdown"> <i class="fa fa-fw fa-gear fa-lg fa-spin"></i></a>
                <ul class="dropdown-menu dropdown-menu-left" role="menu">
                    <li>
                        @*  <a href="@Url.Action("Detalle", "ofertas_main", new { id = item. })">Action</a>*@

                        <a data-toggle="modal" data-target="#modal1" id="btn1" class="btn1" data-url="/control_curriculums/detalle_curriculum/@Html.DisplayFor(model => item.id_persona)">Modal Viejo</a>



                    </li>

                    @*   <li>@Html.ActionLink("Details", "Detalle", new { id = item.id_oferta })</li>*@
                    <li role="separator" class="divider"></li>



                    <li>
                        <div id="btn1" class="btn1" data-url="/control_curriculums/detalle_curriculum/@Html.DisplayFor(model => item.id_persona)">
                            <a data-toggle="modal" data-target="#modal1">Estado Postulacion</a>
                        </div>
                    </li>
                </ul>


            </div>
            <ul class="media-list">
                <li class="media">
                    <a class="pull-left" href="#">
                        <img class="center-block img-circle media-object" src="https://media.giphy.com/media/3o6ZtpTXXNvUIfhDsQ/giphy.gif" height="150" width="150">
                    </a>
                    <div class="media-body">
                        <p>
                            <h3 class="media-heading"><i class="fa fa-border fa-user pull-left"></i><a data-toggle="modal" data-target="#modal1" id="btn1" class="btn1" data-url="/control_curriculums/detalle_curriculum/@Html.DisplayFor(model => item.id_persona)">@Html.DisplayFor(model => item.nombre_persona) @Html.DisplayFor(model => item.apellido_paterno_persona) @Html.DisplayFor(model => item.apellido_materno_persona)</a></h3>
                        </p>
                        <hr />
                        <p>
                            <i class="fa fa-border fa-briefcase fa-lg pull-left"></i>Ultima Experiencia laboral
                        </p>
                        <p><i class="fa fa-border fa-lg pull-left fa-graduation-cap"></i>Profesion</p>
                        <p><i class="fa fa-border fa-lg pull-left fa-usd"></i>Sueldo esperado</p>
                        <p>  <i class="fa fa-border fa-lg fa-map-marker pull-left"></i>Locacion</p>
                    </div>
                </li>
            </ul>

            @*<img src="data:image/png;base64,@Convert.ToBase64String(Model.curriculums.foto_curriculum,0,Model.curriculums.foto_curriculum.Length)"
                class="center-block img-responsive img-thumbnail"> *@

        </div>







    }
</div>
@if (Model.PageCount > 1)
{

    <div id="myPager">
   @Html.PagedListPager(Model, page => Url.Action("vista_lista", new { page = page, id_tipo_oferta = ViewBag.filtros1, id_contrato_oferta = ViewBag.filtros2, id_jornada_oferta = ViewBag.filtros3 }))
        </div>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">

        $('#myPager').on('click', function (e) {
    

            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (response) {
                    if (response != null && response.success) {
                        alert("yes!");
                        $(".reemplazar").each(function (index3, item) {
                            var url = $(item).data("url");
                            if (url && url.length > 0) { $(item).load(url); }

                        })
                    

                    } else {
                        // DoSomethingElse()
                        alert(response.responseText);
                    }
                },
                error: function (response) {
                    alert("error!");  //
                }




            });

        });
     
</script>



