

@using (Html.BeginForm("Create_especificacion_idioma", "ofertas_main", FormMethod.Post, new { @id = "my-form" }))
{
    @Html.AntiForgeryToken()
    

        @Html.ValidationSummary(true)
        @Html.Hidden("id_especificacion_oferta", (Int32)ViewBag.id)
   

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="text-center well">
                <h2>Agregar Idioma</h2>
                <ul class="list-group">
                    <li class="list-group-item"> Seleccione nuevo idioma requerido para la oferta</li>
                    <li class="list-group-item">
                    Seleccione el idioma:
                    @Html.DropDownList("id_idioma", (IEnumerable<SelectListItem>)ViewBag.id_idioma, "Seleccione...", new { @class = "form-control" })</li>
                    <li class="list-group-item">
                    Seleccione el nivel necesario del idioma:
                    @Html.DropDownList("id_nivel_idioma", (IEnumerable<SelectListItem>)ViewBag.id_nivel_idioma, "Seleccione...", new { @class = "form-control" })</li>
                    <li class="list-group-item">
                    Seleccione nivel de importancia para la oferta:
                    @Html.DropDownList("id_nivel_importancia", (IEnumerable<SelectListItem>)ViewBag.id_nivel_importancia, "Seleccione...", new { @class = "form-control" })</li>
                    <li class="list-group-item">
                        <input type="submit" value="Agregar" class="btn btn-block btn-success" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
}



<script type="text/javascript">

    $("#my-form").on("submit", function (e) {
        e.preventDefault();

        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (response) {
                if (response != null && response.success) {
                    alert(response.responseText);
                    $(".reemplazar").each(function (index3, item) {
                        var url = $(item).data("url");
                        if (url && url.length > 0) { $(item).load(url); }

                    })
                    $('#mdsoporte').modal('hide')

                } else {
                    // DoSomethingElse()
                    alert(response.responseText);
                }
            },
            error: function (response) {
                alert("error!");  //
            }




        });

    });


</script>