@model control_portal_empleoa_v2.Models.ofertas
@using (Html.BeginForm("actualiza_oferta_datos", "ofertas_main", FormMethod.Post, new { @id = "my-form" }))
{
    
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true)
    <div class="col-md-12">
        @Html.Hidden("id_oferta" , (Int32)ViewBag.id_oferta)
        <h1 class="text-center">
          Actualizar  Datos de la oferta 
        </h1>
    </div>
    <div class="well">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="exampleInputEmail1">Nombre oferta</label>
                    <input class="form-control" id="nombre_oferta" name="nombre_oferta" placeholder="EJ:Juan"
                           type="text" value="@Html.DisplayFor(model => model.nombre_oferta)">

                </div>

                <div class="form-group">
                    <label class="control-label" for="exampleInputPassword1">jornada oferta</label>
                    @Html.DropDownList("id_jornada_oferta", null, "Seleccione...", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label class="control-label" for="exampleInputPassword1">Tipo de Contrato</label>
                    @Html.DropDownList("id_contrato_oferta", null, "Seleccione...", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label class="control-label" for="exampleInputPassword1">Tipo de oferta</label>
                    @Html.DropDownList("id_tipo_oferta", null, "Seleccione...", new { @class = "form-control" })
                </div>

            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <label class="control-label" for="exampleInputPassword1">Direccion</label>
                    @Html.DropDownList("id_direccion", null, "Seleccione...", new { @class = "form-control" , @disabled = "disabled" })

                </div>

                <div class="form-group">
                    <label class="control-label" for="exampleInputPassword1">Departamento</label>
                    @Html.DropDownList("id_departamento", null, "Seleccione...", new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })

                </div>

                <div class="form-group">
                    <label class="control-label" for="exampleInputPassword1">area</label>
                    @Html.DropDownList("id_area", null, "Seleccione...", new { @class = "form-control", @readonly = "readonly"  })



                </div>

                <div class="form-group">
                    <label class="control-label" for="exampleInputEmail1">Monto oferta</label>
                    <input class="form-control" id="monto_oferta" name="monto_oferta" placeholder="EJ:800000"
                           type="text" value="@Html.DisplayFor(model => model.monto_oferta)">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label" for="exampleInputPassword1">Descripcion Oferta</label>
                    <textarea class="form-control" id="descripcion_oferta" name="descripcion_oferta" rows="5" maxlength="2000" style="resize:none"
                              placeholder="EJ: bla bla bla bla" type="text">@Html.DisplayFor(model => model.descripcion_oferta)
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
              
                    <input type="submit" value="Actualizar" class="btn btn-block btn-lg btn-primary" />
                </div>
            </div>
        </div>

}
<script type="text/javascript">

    $("#my-form").on("submit", function (e) {
        e.preventDefault();

        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (response) {
                if (response != null && response.success) {
                    alert(response.responseText);
                  
                    window.location.reload();

                } else {
                    // DoSomethingElse()
                    alert(response.responseText);
                }
            },
            error: function (response) {
                alert("error!");  //
            }




        });

    });

 


</script>